@font-face {
    font-family: "Oswald Light";
    src: url(../fonts/oswald.light.ttf);
}

@font-face {
    font-family: "Oswald";
    src: url(../fonts/oswald.regular.ttf);
}

body > .container-fluid{
	width: 100%;
	/*height: 85%;*/
	top: 10%;
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

#top-banner{
	padding: 20px 20px;
	height: 275px;
	background-color: #F44336;
	color: #FFFFFF;
}

#banner-slogan{
	font-family: "Oswald";
}

#banner-description{
	font-family: "Oswald Light";
}

#nav-div{
	height: 50px;
	background-color: #413d3d;
}

#site-title{
	font-size: 25px;
	color: #FFFFFF;
	font-family: "Oswald Light";
}

#body-main{
	background-color: #ECF0F1;
}

body{
	/*background-color: #212121;*/
	font-family: "Oswald Light";
}

#loading-details{
	color: white;
	font-size: 24px;
	font-family: "Oswald Light";
}

.row-title-div{
	font-size: 20px;
	padding-left: 10px;
	height: 35px;
	color: #212121;
	font-family: "Oswald";
}
.row-title-div:hover, .trending-span:hover, .most-span:hover{
	background: #727272;
	color: white;
}

#home-link{
	color: inherit;
	text-decoration: none;
}

#sidebar-div{
	padding-top: 35px;
}

.trending-span, .most-span{
	font-size: 22px;
	color: #D32F2F;
	display: block;
	width: 100%;
	padding-left: 35px;
	font-family: "Oswald Light";
	margin-bottom: -20px;
}

#trending-div, #most-div{
	display: none;
}

#footer-div{
	background-color: #F44336;
}