@font-face {
    font-family: myFirstFont;
    src: url(../fonts/raleway/webfonts/raleway_thin-webfont.woff);
}

body > .container-fluid{
	width: 100%;
	/*height: 85%;*/
	top: 10%;
}

#top-banner{
	padding: 20px 20px;
	height: 275px;
	background-color: #F44336;
	color: #FFFFFF;
	font-family: myFirstFont;
}

#nav-div{
	height: 50px;
	background-color: #413d3d;
}

#site-title{
	font-size: 16px;
	color: #ECF0F1;
}

#body-main{
	background-color: #ECF0F1;
}

body{
	/*background-color: #212121;*/
	font-family: sans-serif;
}

#loading-details{
	color: white;
	font-size: 24px;
}

.row-title-div{
	font-size: 20px;
	padding-left: 10px;
	height: 35px;
	color: #212121;
}

.row-title-div:hover{
	background: #727272;
	color: white;
}

#home-link{
	color: inherit;
	text-decoration: none;
}

#sidebar-div{
	padding-top: 35px;
}

.trending-span, .most-span{
	font-size: 17px;
	color: #D32F2F;
	display: block;
	width: 100%;
	padding-left: 35px;
}

#trending-div, #most-div{
	display: none;
}

#footer-div{
	background-color: #F44336;
}