#days-choices, #stats-location-choices{
	width : 120px;
	height: 45px;
	font-size: 20px;
	float: left;
}

#predict-button{
	float: left;
}

#prediction-option-div{
	display: none;
	height: 60px;
}

#view-stats-div{
	display : none;
	height: 100px;
}

#search-field{
	width: 50%;
	float: left;
}

#search-button{
	float: left;
}

#map-canvas{
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border-style: solid;
}

#search-div{
	height: 100px;
}

#search-button{
	background-color: #D32F2F;
	border-color: #D32F2F;
	width: 25%;
	height: 55px;
	font-size: 20px;
}

#search-field{
	background-color: #413d3d;
	color: #f5f5f5;
	border-style: none;
	width: 75%;
	height: 55px;
	font-size: 28px;
}

#search-field:focus{
	outline-color: transparent;
}

#search-div-wrapper{
	width: 70%;
	height: 60px;
	margin-right: auto;
	margin-left: auto;
}

#map-class{
	background-color: black;
	height: 800px;
	width: 800px;
	padding: 20px 20px;
}

#stats-region-choices, #stats-province-choices{
	display: none;
	height: 60px;
	font-size: 16px;
}

#keyword-div{
	display: none;
	height: 75px;
}

.keyword-span{
	color: #D32F2F;
}

.div-wrapper{
	width: 30%;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
}

#geomap-div{
	margin-top: 20px;
	height: 800px;
	width: 100%;
}

#geochart-div{
	display: none;
	margin-top: 50px;
	height: 630px;
	width: 100%;
}

#button-div{
	width: 40%;
	height: 100px;
	margin-right: auto;
	margin-left: auto;
}

#country-stats-button{
	background-color: #1976D2;
	border-color: #1976D2;
	height: 60px;
	font-size: 20px;
}

#country-stats-button a{
	color: inherit;
	text-decoration: none;
}


#province-stats-button{
	background-color: #E64A19;
	border-color: #E64A19;
	height: 60px;
	font-size: 20px;
}

#region-stats-button{
	background-color: #388E3C;
	border-color: #388E3C;
	height: 60px;
	font-size: 20px;
}

#geochart-title, #geomap-title{
	background-color: #413d3d;
	color: #FFFFFF;
	height: 50px;
}

#geochart-title h3, #geomap-title h3{
	font-size: 20px;
}