{% extends 'base.html' %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block css_block %}
    <link href="{% static "css/index.css" %}" rel="stylesheet">
{% endblock %}

{% block main_block %}
    <!-- div for search -->
    <div id="search-div">
        <h1>Search Keyword</h1>
        <input class="form-control input-lg" id="search-field" type="text" placeholder="Input Keyword"/>
        <button id="search-button" class="btn btn-success btn-lg">Search</button>
    </div>
    <!-- end div for search -->

    <!-- div for geomap -->
    <div id="geomap-div" class="row">
        <div class="map-class">
            <!-- <h1>Tweet Map</h1> -->
            <div id="map-canvas">
            </div>
        </div>
        <div id="prediction-option-div">
            <div id="days-selector">
                <select id="days-choices">
                    <option value=1>1 day</option>
                    <option value=2>2 days</option>
                    <option value=3>3 days</option>
                    <option value=4>4 days</option>
                    <option value=5>5 days</option>
                    <option value=6>6 days</option>
                    <option value=7>1 week</option>
                    <option value=14>2 weeks</option>
                    <option value=21>3 weeks</option>
                    <option value=28>4 weeks</option>
                </select>
            </div>
            <button id="predict-button" class="btn btn-success btn-lg"> Predict </button>
        </div>
    </div>
    <!-- end div for geomap -->

    <!-- div for geochart -->
    <div id="geochart-div" class="row">
        <div class="map-class">
            <!-- <h1>Propagation Map</h1> -->
            <div id="geomap-canvas">
            </div>
        </div>
        <div id="view-stats-div">
            <!-- <div id="option-selector">
                <select id="stats-location-choices">
                    <option>Select Location</option>
                    <option>Philippines</option>
                    <option>Region</option>
                    <option>Province</option>
                </select>
                <select id="stats-region-choices">
                    <option>Select Region</option>
                </select>
                <select id="stats-province-choices">
                    <option>Select Province</option>
                </select>
            </div>
            <button id="view-stats-button" class="btn btn-success btn-lg">View Stats</button> -->
            <button id="country-stats-button" class="btn btn-success btn-lg"><a id="ph-stats-link" href="#">PH</button>
            <button id="province-stats-button" class="btn btn-success btn-lg">Province</button>
            <select id="stats-province-choices" onchange="location = this.options[this.selectedIndex].value;">
                <option>Select Province</option>
            </select>
            <button id="region-stats-button" class="btn btn-success btn-lg">Region</button>
            <select id="stats-region-choices" onchange="location = this.options[this.selectedIndex].value;">
                <option>Select Region</option>
            </select>
        </div>
    </div>
    <!-- end div for geochart -->
{% endblock %}

{% block js_block %}
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}