{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ region }} Statistics
{% endblock %}

{% block  main_block%}
	<div id="title-div">
		<h1 class="text-center">Statistics for <span id="keyword-span">{{ keyword }}</span> in <span id="region-span">{{ region }}</span></h1>
	</div>

	<!-- stats div -->
	<div class="row stats">
		<div id="tweet-number-div" class="col-md-3">
			<div class="divider">
				<span id="tweet-count-span"></span>
			</div>
			<div class="div-title tweet">
				<h6 class="text-center">Tweet Count</h6>
			</div>
		</div>
		<div id="day-rate-div" class="col-md-3">
			<div class="divider">
				<span id="day-rate-span"></span>
			</div>
			<div class="div-title day">
				<h6 class="text-center">Day Rate</h6>
			</div>
		</div>
		<div id="weekly-rate-div" class="col-md-3">
			<div class="divider">
				<span id="week-rate-span"></span>
			</div>
			<div class="div-title week">
				<h6 class="text-center">Week Rate</h6>
			</div>
		</div>
		<div id="rank-div" class="col-md-3">
			<div class="divider">
				<span id="rank-span"></span>
			</div>
			<div class="div-title rank">
				<h6 class="text-center">Rank</h6>
			</div>
		</div>
	</div>
	<!-- end of stats div -->

	<!-- chart panel -->
	<div class="panel panel-default">
        <div id="panel-title" class="panel-heading">
            <h3 class="panel-title text-center">{{ keyword }} in {{ region }}</h3>
        </div>
        <div class="panel-body">
            <div id="region-chart-div">
			</div>
        </div>
    </div>
   	<!-- end chart panel -->

{% endblock %}

{% block css_block %}
	<link href="{% static "css/region.css" %}" rel="stylesheet">
{% endblock %}

{% block js_block %}
	<script src="{% static "js/region.js" %}"></script>
{% endblock %}