<!DOCTYPE html>

{% load static %}
<html>
<head>
    <title>Predict Epidemic- {% block title %}Home{% endblock %} </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "css/bootstrap-flat.min.css" %}" rel="stylesheet">
	<link href="{% static "css/base.css" %}" rel="stylesheet">
    {% block css_block %} {% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div id="top-banner" class="row text-center">
            <img src="{% static "images/logo.png" %}"/>
            <h1>Preview. Predict. Prevent.</h1>
            <h3>A site that shows and forecasts the propagation of diseases in the Philippines to save the lives of people.<h3>
        </div>
        <div id="nav-div" class="row">
            <div class="col-md-3 text-center">
                <img src="{% static "images/logo.png" %}"width=50px height=50px />
                <span id="site-title">Predemic</span>
            </div>
        </div>
    	<div id="body-main" class="row">
    		<div class="col-md-3">
                <!-- side block starts here -->
                <!-- collapse for trending topics -->
                <div class="panel-group" id="trending-div">
                    <div class="panel panel-primary panel-primary-custom">
                        <div class="panel-heading panel-heading-custom">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#trending-div" href="#trending-div-list">Trending Diseases</a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse in" id="trending-div-list">
                            <div class="list-group">
                                {% if trending %}
                                    {% for item in trending %}
                                        <a href="#" class="list-group-item">{{ item.keyword }} </a>
                                    {% endfor %}
                                    {% else %}
                                        <strong>Nothing to display.</strong>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end collapse for trending topics -->

                <!-- collapse for most searched diseases -->
                <div class="panel-group" id="mostsearched-div">
                    <div class="panel panel-primary panel-primary-custom">
                        <div class="panel-heading panel-heading-custom">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#mostsearched-div" href="#mostsearched-div-list">Most Searched Diseases</a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse in" id="mostsearched-div-list">
                            <div class="list-group">
                                {% if topSearch %}
                                    {% for item in topSearch %}
                                        <a href="#" class="list-group-item">{{ item.word }} </a>
                                    {% endfor %}
                                {% else %}
                                    <strong>Nothing to display</strong>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end collapse for most searched diseases -->
                <!-- end of side block -->
    		</div>
			<div class="col-md-9">
                {% block main_block %}{% endblock %}
			</div>
    	</div>
    <div>
	<script src="{% static "js/jquery-1.11.2.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="{% static "js/gmaps.js" %}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {% block js_block %}{% endblock %}
</body>
</html>