<!DOCTYPE html>

{% load static %}
<html>
<head>
    <title>Predict Epidemic- {% block title %}Home{% endblock %} </title>
	<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "css/bootstrap-flat.min.css" %}" rel="stylesheet">
	<link href="{% static "css/homepage.css" %}" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
    	<!-- <div id="homepage-nav" class="row">
    		<div class="col-md-12">
    			<h3 class="text-left">Predict Epidemic</h3>
    		</div>
    	</div> -->
    	<div id="body-main" class="row">
    		<div class="col-md-3">
    			{% block side_block %} {% endblock %} 
    		</div>
			<div class="col-md-9">
                <div id="search-div" class="row">
                    {% block search_block %}{% endblock %}
                </div>
                <div id="geomap-div" class="row">
                    {% block geomap_block %}{% endblock %}
                </div>
			</div>
    	</div>
    	<!-- <div id="footer" class="row">
    		<div class="col-md-12">
    			<p class="text-center"> 
    				Copyright© 2015<br/>
    				Ocampo, Ma. Margarita M.<br/>
    			</p>
    		</div>
    	</div> -->
    <div>
	<script src="{% static "js/jquery-1.11.2.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="{% static "js/gmaps.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {% block js_block %}{% endblock %}
</body>
</html>